.column {
    flex: 30%;
    float: left;
    padding-left: 30px;
    padding-right:50px ;
    padding-top:30px ;
  }
.column:hover{
  transform: scale(1.2);
}
img {
  width: 260px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1 rem;
  
}
